<header class="h-[68px] z-10 bg-gray-900 sticky top-0 flex items-center justify-between px-10">
  <!--logo navItem-->
  <div class=" flex gap-5">
    <img src="pngwing.com.png" alt="netflix-logo" width="110"/>
    <ul class="flex items-center" *ngFor="let item of navlist">
      <li
        class=" text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s] ">{{ item }}
      </li>
    </ul>
  </div>
  <!--Welcome user | profile img| Sing Out-->
  <div class=" text-white flex items-center gap-4">

    <div class="flex items-center gap-2">
      <a href="/"><span>Welcome <strong>Hasanboy</strong></span></a>
      <img class=" rounded-full h-10 w-10" src="Hasanboy.jpg" alt="user-img"/>
    </div>
    &nbsp; | &nbsp;
    <a href="/">SignOut</a>

  </div>


</header>
